.App {
  text-align: center;
  margin: 50px;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.hand-icons {
  margin: 10px;
  padding: 2px;



}
.scoreboard {
  margin: 20px;
  text-align: center;
  align-content: center;
  width: 100%;
}

.score-table {
  width: 100%;
  border-collapse: collapse;
}

.score-td {
  border: 1px solid #dddddd;
  padding: 10px;
}

.score-th {
  background-color: #f2f2f2;
  border: 1px solid #dddddd;
  padding: 10px;
}



.chosen-table {
  width: 100%;
  border-collapse: collapse;
}

