@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap');

*, * ::after, *::before {
    box-sizing: border-box; /*change padding, maintain the h + w */
}

:root { 
    --box-size: 200px;
    --character-size: calc(var(--box-size) * 0.70); /* X + O's 70% smaller than box */

    /* global colors */

    --c-brand: #14867F; /* Brand */
    --c-white: #f9f9f9; /* White */
    --c-black: #122522; /* Black/Green */
    --c-link-dark: #14867F; /* Dark Hyperlink */
    --c-link-dark-hover: #a78e00; /* Dark Yellow Hover */
    --c-link-light: #08fb92; /* Light Hyperlink */
    --c-link-light-hover:#fae154; /* Light Yellow Hover */
}

body {
    margin: 1em;
    padding: 1em;
    min-height: 100vh;
    background: rgb(102,58,180);
    background: linear-gradient(118deg, rgba(102,58,180,1) 23%, rgba(21,83,128,1) 43%, rgba(47,173,156,1) 84%);
    /* background-image: url("img/img2.jpg") !important; */
    font-family: 'Poppins', sans-serif;
    
}



h1 {
    font-weight: 700;
    font-size: 2.5em;
    text-align: center;
} 


p {
    font-size: 1em;
    line-height: 1.5em;
}

.table {
    width: 100vw;
    height: 100vh;
    /* margin-bottom: -100px; */
    display: grid;
    justify-content: center; /*box is centered */
    align-content: center;
    justify-items: center; /*items within the box are centered */
    align-items: center;
    border: 1px;
    grid-template-columns: repeat(3, auto); /*number or collumns from divs in table*/
}

.box {
    width: var(--box-size);
    height: var(--box-size);
    background-color: var(--c-brand);
    border: 1px solid #fff;
    border-radius: 3%;
    color: #fff;
    display: flex;
    justify-content: center; /*box is centered */
    align-items: center;
    position: relative;
    
}

.box.x, .box.o {
    cursor: not-allowed;
}

/*O DESIGN*/
.box.o::before,
.box.o::after,
.table.o .box:not(.x):not(.o):hover::before,
.table.o .box:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%; 
}

.box.o::before,
.table.o .box:not(.x):not(.o):hover::before {
    width: var(--character-size);
    height: var(--character-size);
    background-color: #ffff00;
}

.box.o::after,
.table.o .box:not(.x):not(.o):hover::after {
    width: calc(var(--character-size) * 0.8);
    height: calc(var(--character-size) * 0.8);
    background-color: var(--c-brand);

}
/*X DESIGN*/
.box.x::before,
.box.x::after,
.table .box:not(.x):not(.o):hover::before,
.table .box:not(.x):not(.o):hover::after {
    content: '';
    width: calc(var(--character-size) * 0.10);
    height: var(--character-size);
    background-color:  #f6b3d3;
    position: absolute;

}

.box.x::before, 
.table .box:not(.x):not(.o):hover::before{
    transform: rotate(45deg);
}

.box.x::after, 
.table .box:not(.x):not(.o):hover::after{
    transform: rotate(-45deg);
}




/*BUTTON*/

.message {
    display: none;
    justify-content: center; /*box is centered */
    align-items: center;
    font-size: 4em;
    flex-direction: column;

}

.message button{
    padding: 10px 30px 10px 30px;
    font-size: 0.4em;
    letter-spacing: 1px;;
    background-color: #fae154;
    color:  var(--c-black);
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 100px;
}



.message button:hover{
    background-color: #ffff00;
    color: #3d3dc2;
    cursor: pointer;
    font-weight: 600;
}

.message.show {
    display: flex;
    color: white;
}

/*FOOTER*/
footer {
    position: fixed; /*keeps the footer fixed to bottom*/
    left: 0;
    bottom: 0;
    background:var(--c-brand);
    width: 100%;
    text-align: center;
}


#footer-list li{
    list-style-type: none;
    display: inline;
    color: var(--c-white);
}

#footer-list a { /*removes the underline in the footer links only (looks ugly!)*/
    text-decoration: none;
}

#footer-list .rasiana {
    color: var(--c-link-dark);
}

footer a {
    text-decoration: underline;
    font-weight: 400;
    color: var(--c-link-light);
}
footer a:hover { 
    color: var(--c-link-light-hover);
}